{% extends 'base.html' %}

{% block title %} My Products {% endblock %}

{% block body %}

<div class="container my-5">
    <h2>My Products</h2>
    <a href="/add-product">Add New Product</a>

    {% if products %}
        <table class="table">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>In Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td><img src="/media/{{ product.product_picture.split('/')[-1] }}" alt="" style="height: 60px;"></td>
                    <td>{{ product.product_name }}</td>
                    <td>GH₵ {{ product.current_price }}</td>
                    <td>{{ product.in_stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You haven't listed any products yet.</p>
    {% endif %}
</div>

{% endblock %}